@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800;900&family=Inter:wght@200;300;400&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html{
    color: white;
    font-family: 'Figtree', sans-serif;
}

.main{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    width: 400px;
    padding: 2rem;
}


.main-img{
    width: 100%;
    border-radius: 15px;
}

.heading{
    margin: 1rem 0;
    padding: 0rem;
}


.text{
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-weight: 300;
    font-size: 20px;
    color: hsl(215, 51%, 70%);
    margin: 2rem 0;
}

.content{
    display: flex;
    justify-content: space-between;

}


.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: hsl(178, 100%, 50%);

}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(215, 51%, 70%);
    gap: 0.5rem;
}


svg{
    display: block;
}

p{
    display: block;
}

hr{
    margin: 2rem 0;
    border-color: hsl(215, 51%, 70%);
}

.footer{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.maharani{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 25px;
}












